<div class="fixed top-0 z-50 right-0 left-0 bg-slate-200 textgray-800 ">
    <div class="px-5 lg:px-20 h-16 flex item-center justify-between">

      <div class="flex item-center mt-2">
        <div class="">
            <img class="h-16 w-16" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ0XNzCbsxj2VVyc2nGFBQS8Kf-keEV0_1Dow&usqp=CAU" alt="a">
        </div>

        <div class="mt-3">
            <div class="flex items-center space-x-16">
                <div>
                    <img src="">
                </div>
                <div>
                    <button class="open-button" (click)="openNavbarContent('men')" mat-button> MEN</button>
                </div>
                <div>
                    <button class="open-button" (click)="openNavbarContent('Women')" mat-button>WOMEN</button>
                </div>
                <div>
                    <button class="open-button" (click)="openNavbarContent('men')" mat-button>KIDS</button>
                </div>
                <div>
                    <button class="open-button" (click)="openNavbarContent('men')" mat-button>HOME/LIVING</button>
                </div>

            </div>

        </div>
      </div>
      <div class="flex item-center">
        <img class="" src="">

      </div>
<div class="flex item-center space-x-16 mt-2">
    <button
    color="'accent"
    ><img class="w-14 h-14" src="https://www.pngkey.com/png/detail/202-2024792_user-profile-icon-png-download-fa-user-circle.png">
    </button>

    <div id="dropdownHover" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
        <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownHoverButton">
          <li>
            <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Dashboard</a>
          </li>
          <li>
            <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Settings</a>
          </li>
          <li>
            <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Earnings</a>
          </li>
          <li>
            <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Sign out</a>
          </li>
        </ul>
    </div>

    <div class="relative ml-3 flex item-center ">
      <div class="flex item-center space-x-5">
          <button class="mb-2">
            <img class="h-14 w-14" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-KfHh4iaWx6nAkIxXYjTQ9QkOEKkGe4ox5g&usqp=CAU" alt="">
          </button>
          
      </div>
    </div>

</div>

    </div>
    
</div>