    <div class="bg-slate-200 text-grey mt-10 text-center px-8 lg:px-20">
        <div class="container">
            <div class="py-3 flex justify-between">
                <div class="px-4">
                    <h3 class="px-5 text-lg font-semibold text-black-500">Get to Know Us</h3>
                    <p class="mb-2 mt-2">About Us</p>
                    <p class="mb-2">Contact Us</p>
                    <p class="mb-2">Careers</p>
                </div>
    
                <div class="px-4">
                    <h3 class="px-5 text-lg font-semibold text-black-500">Connect with Us
                    </h3>
                    <p class="mb-2 mt-2">Facebook</p>
                    <p class="mb-2">Twitter</p>
                    <p class="mb-2">Youtube</p>
                </div>
    
                <div class="px-4">
                    <h3 class="px-5 text-lg font-semibold text-black-500">Help</h3>
                    <p class="mb-2 mt-2">Payments</p>
                    <p class="mb-2">Shipping</p>
                    <p class="mb-2">Cancellations and shipping</p>
                    <p class="mb-2">Returns</p>
                </div>
    
                <div class="px-4">
                    <h3 class="px-5 text-lg font-semibold text-black-500">Mail Us</h3>
                    <p class="mb-2 mt-2">Flipkart Internet Private Limited, <br/>
                        Buildings Alyssa, Begonia & Tech Village, <br/>
                        Ring Road, Devarabeesanahalli Village, <br/>
                        Bengaluru, 560103, Karnataka, India</p>
                </div>
    
                <div class="px-4">
                    <h3 class="px-5 text-lg font-semibold text-black-500">Registered Office Address</h3>
                    <p class="mb-2 mt-2">Buildings Alyssa,Begonia and Clover <br/>
                        situated in Embassy Tech Village,<br/>
                        Outer Ring Road,<br/>
                        Varthur Hobli,Bengaluru <br/>
                </div>
            </div>
        </div>    
    </div>
    