<div class="bg-black text-white mt-10 text-center px-5 lg:px-20">
    <div class="container">
        <div class="py-3 flex justify-between">
            <div class="px-4">
                <h3 class="px-5 text-lg font-semibold text-gray-500s">company</h3>
                <p class="mb-2">About</p>
                <p class="mb-2">About</p>
                <p class="mb-2">About</p>
                <p class="mb-2">About</p>
                <p class="mb-2">About</p>
                <p class="mb-2">About</p>
            </div>

            <div class="px-4">
                <h3 class="px-5 text-lg font-semibold text-gray-500s">company</h3>
                <p class="mb-2">About</p>
                <p class="mb-2">About</p>
                <p class="mb-2">About</p>
                <p class="mb-2">About</p>
                <p class="mb-2">About</p>
                <p class="mb-2">About</p>
            </div>
            <div class="px-4">
                <h3 class="px-5 text-lg font-semibold text-gray-500s">company</h3>
                <p class="mb-2">About</p>
                <p class="mb-2">About</p>
                <p class="mb-2">About</p>
                <p class="mb-2">About</p>
                <p class="mb-2">About</p>
                <p class="mb-2">About</p>
            </div>

        </div>

    </div>

</div>